@model Vidly.ViewModels.MoviesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("New","New", null, htmlAttributes: new { @class = "btn btn-primary" })
<br /><br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Movie</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Movies == null || Model.Movies.Count == 0)
        {
            <tr><td>No movies :(</td></tr>
        }
        else
        {
            foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>
                        @Html.ActionLink(movie.Name, "Edit", "Movies", new { id =  movie.Id}, null)
                    </td>
                    <td>
                        @movie.Genre
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

